.fa-search{
  color:#FFF;
  align-self: center;
  margin-left:10px;
}

.fa-times{
  color:#F22613;
}

.fa-plus-circle{
  color:#1BBC9B;
}

.fa-thumbs-up{
  color:#1BBC9B;
}

.fa-thumbs-down{
  color:#1BBC9B;
}

.fa-pencil{
  color:#1BBC9B;
  margin-left:5px;
  font-size:1.1em;
}

.fa-floppy-o{
  color:#1BBC9B;
}

.fa-minus-circle{
  color:#1BBC9B;
}
