@media screen and (min-width: 434px) {

  .panel-default{
    width:100%;
  }

  .col-md-10.col-md-offset-1 {
    width:100%;
  }

  #app-navbar-collapse{
    width:100%;
  }

}

@media screen and (max-width: 570px) {

  .album-row{
    flex-direction: column;
    align-items: center;
  }

  li.album{
    width:50%;
  }

  h1{
    text-align: center;
  }

  h2{
    text-align: center;
  }

  h4{
    text-align: center;
  }

  h5{
    text-align: center;
  }


  h6{
    text-align: center;
  }

  input{
    margin-left:auto;
    margin-right:auto;
  }

  .form-control{
    margin-left:auto;
    margin-right:auto;
  }

  .fa-thumbs-up{
    text-align: center;
  }

  .fa-thumbs-down{
    text-align: center;
  }

  .image-row{
    flex-direction: column;
    align-items: center;
  }

  .image-container{
    width:50%;
  }

  button.btn.btn-primary{
    margin-left: auto;
    margin-right: auto;
  }

}
