a {
  color:#1BBC9B;
}

h3{
  color:#1BBC9B;
}

h2{
  color:#1BBC9B;
  font-size:1.2em;
}

h1{
  color:#1BBC9B;
  font-weight: bold;
  font-size: 2em;
}

h4{
  color:#1BBC9B;
  font-weight: bold;
  font-size: 1.2em;
}

h5{
  color:#1BBC9B;
}

h6{
  font-size:1.1em;
}


#album-tag{
  font-size:2em;
}


.album a{
  order: 2;
  text-align: center;
}
